@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&family=Roboto+Condensed&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bottom-sheet-bg-color: white;
  --bottom-sheet-text-color: black;

}

body {
  font-family: "Inter", Sans-Serif;
  background: #f0f4f8;
  font-weight: 400;
  line-height: 1.75;
  color: #102a43;
}

.dark {
  --bottom-sheet-bg-color: rgb(42, 42, 42);
  --bottom-sheet-text-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Sans-Serif;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: clamp(2rem, 4.8vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4.2vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 3.7vw, 1.73rem);
}

h4 {
  font-size: clamp(1.1rem, 3vw, 1.45rem);
}

h5 {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(0.7rem, 2.3vw, 1rem);
}
